<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="mt-3">
        <p>条件に一致する車種が見つかりませんでした</p>
        <p>人数、ボディタイプ、燃料種別を再度選択してくださいた</p>
      </div>
    </div>
  </div>
</div>