<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="mt-3">
        <h3 class="ai_item--result--body--container--recommend_other--sub_tit ai_item--result--body--sec_sub_tit">
          <span>車種検索結果</span>
        </h3>
        <div class="ai_item--result--body--container--match_other--compare_spec">
          <p class="ai_item--result--body--container--match_other--compare_spec_notes">※画像は最新のモデルです</p>

          <table class="ai_item--result--body--container--match_other--compare_spec--table">
            <thead class="ai_item--result--body--container--match_other--compare_spec--table--head">
              <tr class="ai_item--result--body--container--match_other--compare_spec--head--row">
                <th class="ai_item--result--body--container--match_other--compare_spec--head--row--tit">比較車種</th>
                
                <td class="ai_item--result--body--container--match_other--compare_spec--head--row--item">
                  <div class="ai_item--result--body--container--match_other--compare_spec--head--row--item--inner">
                    <div class="ai_item--result--body--container--match_other--compare_spec--head--row--item--photo">
                      車種画像1
                    </div>
                    <div class="ai_item--result--body--container--match_other--compare_spec--head--row--item--name">
                      車種名
                    </div>
                  </div>
                </td>
                
                <td class="ai_item--result--body--container--match_other--compare_spec--head--row--item">
                  <div class="ai_item--result--body--container--match_other--compare_spec--head--row--item--inner">
                    <div class="ai_item--result--body--container--match_other--compare_spec--head--row--item--photo">
                      車種画像2
                    </div>
                    <div class="ai_item--result--body--container--match_other--compare_spec--head--row--item--name">
                      車種名
                    </div>
                  </div>
                </td>
                
                <td class="ai_item--result--body--container--match_other--compare_spec--head--row--item">
                  <div class="ai_item--result--body--container--match_other--compare_spec--head--row--item--inner">
                    <div class="ai_item--result--body--container--match_other--compare_spec--head--row--item--photo">
                      車種画像3
                    </div>
                    <div class="ai_item--result--body--container--match_other--compare_spec--head--row--item--name">
                      車種名
                    </div>
                  </div>
                </td>
                
              </tr>
            </thead>

            <tbody class="ai_item--result--body--container--match_other--compare_spec--table--body js-fix_area">
            <tr class="ai_item--result--body--container--match_other--compare_spec--table--body--row">
              <th class="ai_item--result--body--container--match_other--compare_spec--table--body--row--tit">メーカー</th>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">スズキ</td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">スズキ</td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">ダイハツ</td>
            </tr>

            <tr class="ai_item--result--body--container--match_other--compare_spec--table--body--row">
              <th class="ai_item--result--body--container--match_other--compare_spec--table--body--row--tit">ボディタイプ</th>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">トールワゴン</td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">ハッチバック</td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">トールワゴン</td>
            </tr>
            <tr class="ai_item--result--body--container--match_other--compare_spec--table--body--row">
              <th class="ai_item--result--body--container--match_other--compare_spec--table--body--row--tit">エンジン区分</th>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    ガソリン、
                    ガソリンHV(PHV)
                </td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    ガソリン
                </td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    ガソリン
                </td>
            </tr>
            <tr class="ai_item--result--body--container--match_other--compare_spec--table--body--row">
              <th class="ai_item--result--body--container--match_other--compare_spec--table--body--row--tit">定員</th>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">4名</td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">4名</td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">4名</td>
            </tr>
            <tr class="ai_item--result--body--container--match_other--compare_spec--table--body--row">
              <th class="ai_item--result--body--container--match_other--compare_spec--table--body--row--tit">燃費</th>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                  25.2km/L<br>
                  WLTCモード走行
                </td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                  26.2km/L<br>
                  WLTCモード走行
                </td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                  22.7km/L<br>
                  WLTCモード走行
                </td>
            </tr>
            <tr class="ai_item--result--body--container--match_other--compare_spec--table--body--row">
              <th class="ai_item--result--body--container--match_other--compare_spec--table--body--row--tit">排気</th>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">657cc</td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">658cc</td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">658cc</td>
            </tr>
            <tr class="ai_item--result--body--container--match_other--compare_spec--table--body--row">
              <th class="ai_item--result--body--container--match_other--compare_spec--table--body--row--tit">車体寸法<br><span class="size_small">（全長×全幅×全高）</span></th>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                  3,395×1,475×1,525mm
                </td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                  3,395×1,475×1,755mm
                </td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                  3,395×1,475×1,545mm
                </td>
            </tr>
            <tr class="ai_item--result--body--container--match_other--compare_spec--table--body--row">
              <th class="ai_item--result--body--container--match_other--compare_spec--table--body--row--tit">総合ユーザ評価</th>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    <span class="star_rate">
                      <span class="star_symbol--score">4.0</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate4"></span>
                    </span> 
                </td>                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    <span class="star_rate">
                      <span class="star_symbol--score">4.0</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate4"></span>
                    </span> 
                </td>                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    <span class="star_rate">
                      <span class="star_symbol--score">4.0</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate4"></span>
                    </span> 
                </td>
            </tr>
            <tr class="ai_item--result--body--container--match_other--compare_spec--table--body--row">
              <th class="ai_item--result--body--container--match_other--compare_spec--table--body--row--tit">デザイン</th>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    <span class="star_rate">
                      <span class="star_symbol--score">3.8</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate3-5"></span>
                    </span>
                </td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    <span class="star_rate">
                      <span class="star_symbol--score">3.8</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate3-5"></span>
                    </span>
                </td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    <span class="star_rate">
                      <span class="star_symbol--score">3.8</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate3-5"></span>
                    </span>
                </td>
            </tr>
            <tr class="ai_item--result--body--container--match_other--compare_spec--table--body--row">
              <th class="ai_item--result--body--container--match_other--compare_spec--table--body--row--tit">走行性能</th>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    <span class="star_rate">
                      <span class="star_symbol--score">4.0</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate4"></span>
                    </span>
                </td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                  
                    <span class="star_rate">
                      <span class="star_symbol--score">4.3</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate4"></span>
                    </span>
                </td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                  
                    <span class="star_rate">
                      <span class="star_symbol--score">4.0</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate4"></span>
                    </span>
                </td>
            </tr>
            <tr class="ai_item--result--body--container--match_other--compare_spec--table--body--row">
              <th class="ai_item--result--body--container--match_other--compare_spec--table--body--row--tit">乗り心地</th>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    <span class="star_rate">
                      <span class="star_symbol--score">3.2</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate3"></span>
                    </span>
                </td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    <span class="star_rate">
                      <span class="star_symbol--score">3.2</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate3"></span>
                    </span>
                </td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    <span class="star_rate">
                      <span class="star_symbol--score">3.2</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate3"></span>
                    </span>
                </td>
            </tr>
            <tr class="ai_item--result--body--container--match_other--compare_spec--table--body--row">
              <th class="ai_item--result--body--container--match_other--compare_spec--table--body--row--tit">積載性</th>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    <span class="star_rate">
                      <span class="star_symbol--score">3.8</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate3-5"></span>
                    </span>
                </td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    <span class="star_rate">
                      <span class="star_symbol--score">3.8</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate3-5"></span>
                    </span>
                </td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    <span class="star_rate">
                      <span class="star_symbol--score">3.8</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate3-5"></span>
                    </span>
                </td>
            </tr>
            <tr class="ai_item--result--body--container--match_other--compare_spec--table--body--row">
              <th class="ai_item--result--body--container--match_other--compare_spec--table--body--row--tit">価格</th>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    <span class="star_rate">
                      <span class="star_symbol--score">3.6</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate3-5"></span>
                    </span>
                </td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    <span class="star_rate">
                      <span class="star_symbol--score">3.6</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate3-5"></span>
                    </span>
                </td>
                <td class="ai_item--result--body--container--match_other--compare_spec--table--body--row--item">
                    <span class="star_rate">
                      <span class="star_symbol--score">3.6</span>
                      <span class="star_symbol--txt">点</span>
                      <span class="star_symbol--five rate3-5"></span>
                    </span>
                </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>