<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="mt-3">
        <h3>
          <span>車種検索結果</span>
        </h3>
        <div>
          <p>※画像は最新のモデルです</p>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>比較車種</th>
                
                <td>
                  <div>
                    <div>
                      車種画像1
                    </div>
                    <div>
                      車種名
                    </div>
                  </div>
                </td>
                
                <td>
                  <div>
                    <div>
                      車種画像2
                    </div>
                    <div>
                      車種名
                    </div>
                  </div>
                </td>
                
                <td>
                  <div>
                    <div>
                      車種画像3
                    </div>
                    <div>
                      車種名
                    </div>
                  </div>
                </td>
                
              </tr>
            </thead>

            <tbody>
            <tr>
              <th>メーカー</th>
                <td>スズキ</td>
                <td>スズキ</td>
                <td>ダイハツ</td>
            </tr>

            <tr>
              <th>ボディタイプ</th>
                <td>トールワゴン</td>
                <td>ハッチバック</td>
                <td>トールワゴン</td>
            </tr>
            <tr>
              <th>エンジン区分</th>
                <td>
                    ガソリン、
                    ガソリンHV(PHV)
                </td>
                <td>
                    ガソリン
                </td>
                <td>
                    ガソリン
                </td>
            </tr>
            <tr>
              <th>定員</th>
                <td>4名</td>
                <td>4名</td>
                <td>4名</td>
            </tr>
            <tr>
              <th>燃費</th>
                <td>
                  25.2km/L<br>
                  WLTCモード走行
                </td>
                <td>
                  26.2km/L<br>
                  WLTCモード走行
                </td>
                <td>
                  22.7km/L<br>
                  WLTCモード走行
                </td>
            </tr>
            <tr>
              <th>排気</th>
                <td>657cc</td>
                <td>658cc</td>
                <td>658cc</td>
            </tr>
            <tr>
              <th>車体寸法<br><span>（全長×全幅×全高）</span></th>
                <td>
                  3,395×1,475×1,525mm
                </td>
                <td>
                  3,395×1,475×1,755mm
                </td>
                <td>
                  3,395×1,475×1,545mm
                </td>
            </tr>
            <tr>
              <th>総合ユーザ評価</th>
                <td>
                    <span>
                      <span>4.0</span>
                      <span>点</span>
                      <span></span>
                    </span> 
                </td>                <td>
                    <span>
                      <span>4.0</span>
                      <span>点</span>
                      <span></span>
                    </span> 
                </td>                <td>
                    <span>
                      <span>4.0</span>
                      <span>点</span>
                      <span></span>
                    </span> 
                </td>
            </tr>
            <tr>
              <th>デザイン</th>
                <td>
                    <span>
                      <span>3.8</span>
                      <span>点</span>
                      <span></span>
                    </span>
                </td>
                <td>
                    <span>
                      <span>3.8</span>
                      <span>点</span>
                      <span></span>
                    </span>
                </td>
                <td>
                    <span>
                      <span>3.8</span>
                      <span>点</span>
                      <span></span>
                    </span>
                </td>
            </tr>
            <tr>
              <th>走行性能</th>
                <td>
                    <span>
                      <span>4.0</span>
                      <span>点</span>
                      <span></span>
                    </span>
                </td>
                <td>
                  
                    <span>
                      <span>4.3</span>
                      <span>点</span>
                      <span></span>
                    </span>
                </td>
                <td>
                  
                    <span>
                      <span>4.0</span>
                      <span>点</span>
                      <span></span>
                    </span>
                </td>
            </tr>
            <tr>
              <th>乗り心地</th>
                <td>
                    <span>
                      <span>3.2</span>
                      <span>点</span>
                      <span></span>
                    </span>
                </td>
                <td>
                    <span>
                      <span>3.2</span>
                      <span>点</span>
                      <span></span>
                    </span>
                </td>
                <td>
                    <span>
                      <span>3.2</span>
                      <span>点</span>
                      <span></span>
                    </span>
                </td>
            </tr>
            <tr>
              <th>積載性</th>
                <td>
                    <span>
                      <span>3.8</span>
                      <span>点</span>
                      <span></span>
                    </span>
                </td>
                <td>
                    <span>
                      <span>3.8</span>
                      <span>点</span>
                      <span></span>
                    </span>
                </td>
                <td>
                    <span>
                      <span>3.8</span>
                      <span>点</span>
                      <span></span>
                    </span>
                </td>
            </tr>
            <tr>
              <th>価格</th>
                <td>
                    <span>
                      <span>3.6</span>
                      <span>点</span>
                      <span></span>
                    </span>
                </td>
                <td>
                    <span>
                      <span>3.6</span>
                      <span>点</span>
                      <span></span>
                    </span>
                </td>
                <td>
                    <span>
                      <span>3.6</span>
                      <span>点</span>
                      <span></span>
                    </span>
                </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>