<div class="container">
  <div class="row d-flex justify-content-center">
    <%= flash[:notice] %>
  </div>
  <div class="row d-flex justify-content-center">
    ・複数車種登録画面
  </div>
  <%= form_with model: @caritem, url: multi_caritems_path, method: :post do |f| %>
  <div class="row d-flex justify-content-center align-center pl5">
    <%= f.file_field :excel_file %>
    <%= f.submit "登録", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>