<div class="container">
  <div class="row">
    <%= form_with url: result_user_reviews_url, method: :get do |form| %>
      <%= form.text_field :keyword, placeholder: "キーワードを入力してください" %>
      <%= form.submit "検索" %>
    <% end %>
  </div>
</div>