  <div class="row with-border" style="height: 6vh;">
    <div class="col-lg-12 d-flex justify-content-center align-items-center" style="max-width:100%; background-color: #ffffff">
      <ul class="d-flex" style="list-style: none; color:#666;">
        <li style="margin-right: 40px;"><%= link_to "レビューを投稿", search_user_reviews_path, class: "custom-link" %></li>
        <li style="margin-right: 40px;"><%= link_to "レビューを検索", search_rev_user_reviews_path, class: "custom-link" %></li>
        <li style="margin-right: 80px;"><%= link_to "車を検索", new_user_car_search_path, class: "custom-link" %></li>
      </ul>
    </div>
  </div>