<div class="container">
  <div class="row" style="height: 50vh; margin-top: 20px;">
    <div class="col-lg-2">
      <div>
        <li>レビュー投稿</li>
        <li>レビュー検索</li>
        <li>車を探す</li>
      </div>
    </div>
    <div class="col-lg-8 d-flex justify-content-center">
      カーRevへようこそ！</br>
      あなたの愛車をレビュー投稿 </br>
      好みの車を探せるサイトです </br>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">

    </div>
  </div>
</div>

