<div class="container">
  <div class="row d-flex justify-content-center text-align-center"  style="height: 100vh;">
    <li><%= link_to "1車種登録", new_caritem_path %></li> <br>
    <li><%= link_to "複数車種録録", new_multi_caritem_path %></li>
  </div>
</div>