<div class="container">
  <div class="row d-flex justify-content-conter">
    編集画面
  </div>
  <%= form_with model: @caritem, url: caritem_path(@caritem.id), method: :patch do |caritem| %>
  <div class="row d-flex justify-content-conter">
    <table class="admin_item_info item_form">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td><%= caritem.label :car_image, "車種画像" %></td>
          <td><%= caritem.file_field :car_image, accept: "image/*" %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row d-flex justify-content-conter">
    <%= caritem.submit "編集", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>