  /* グローバルスタイル */
  .body {
    font-family:Arial, sans-serif;
    background-color: #aad6ec; /* 水色 */
  }

  .fa-car-on {
    font-size: 36px; /* フォントサイズを調整 */
    color: #ff5722; /* アイコンの色を指定 */
    margin-right: 10px; /* 右側に余白を追加 */
  }

  .custom-link {
    color: #000; /* リンクのテキスト色を黒色に設定 */
    text-decoration: none; /* リンクの下線を削除 */
  }

  .top-page-class {
    font-family: 'Meiryo', sans-serif;
    font-size: 36px;
    color: #163560;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .with-border {
    border-top: 2px solid #ccc; /* 上側の線 */
    border-bottom: 1px solid #ccc; /* 下側の線 */
  }

  .car-item {
    display:inline-block;
    text-align:center;
    margin-right: 20px;
  }

  .car-img{
    display:block;
  }

  .car-name{
    display:block;
    text-align:center;
  }

  .custom-link:hover {
    color: #333; /* ホバー時のテキスト色を変更（任意） */
  }

  /* カスタムスタイルの追加 */
  .table th, .table td {
    vertical-align: middle; /* セルの中央配置 */
  }
  .table th {
    font-weight: bold;
    background-color: #eee; /* ヘッダーの背景色 */
  }

  .table td{
    background-color:#fff;
  }

  .custom-span{
    display: inline-block;
    width: 50px;
    text-orientation: mixed; /* テキストの向きを指定 */
    writing-mode: horizontal-tb; /* テキストの方向を水平に設定 */
  }

  .check-title{
    text-align:center;
    margin-top:8px;
    margin-bottom:2px;
    font-weight:bold;
    font-size:20px;
  }

  .radio-button-check{
    justify-content:center;
    display: flex;
    flex-direction: row; /* 横方向に要素を配置 */
    flex-wrap: wrap; /* 要素の折り返しを有効にする */
    border:3px solid #ccc;
    background-color:#fff;
    border-radius:10px;
  }

  .radio-button-text{
    margin-right:8px;
  }

  .car-search-text{
    text-align:center;
  }

  .btn-light-blue{
    color:#fff;
    background-color:#add8e6;
  }

  .btn-light-blue:hover{
    background-color:#6fa2d6;
  }

/*フラッシュメッセージの設定*/
.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}
 
.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}
 
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}
