<div class="container">
  <div class="row d-flex justify-content-center">
    メーカー編集画面
  </div>
  <%= form_with model: @maker, url: maker_path(@maker.id), method: :patch do |f| %>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <td><% f.label :name, "メーカー" %></td>
          <td><%= f.text_field :name, class:"form-control" %></td>
        </tbody>
      </table>
      <div class="text-center">
      <%= f.submit "編集", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  </div>
</div>